<mat-toolbar color="primary">
  <span>Todo</span>
</mat-toolbar>

<div class="example-card">
  <mat-tab-group animationDuration="0ms" (selectedTabChange)="changeTab($event.index)" dynamicHeight>
    <mat-tab label="All Todos">
        <mat-card [ngStyle]="{'background-color': temp.checked? '#8cedbb': ''}" *ngFor="let item of listTodos" >
          <mat-checkbox #temp [checked]="item.status=='completed'" [color]="'primary'" class="example-margin" (change)="changeStatus(temp.checked,item.id)">
          </mat-checkbox>
          <input matInput [ngStyle]="{'background-color': temp.checked? '#8cedbb': ''}" value="{{item.title}}">
          <mat-icon (click)="deleteTodo(item.id)">delete</mat-icon>
          <mat-icon class="visible" (click)="openDialog('display',item.id)">visibility</mat-icon>
        </mat-card>
    </mat-tab>
    <mat-tab label="Completed">
      <div *ngFor="let item of listTodos" >
        <mat-card [ngStyle]="{'background-color': temp1.checked? '#8cedbb': ''}" *ngIf="item.status=='completed'">
          <mat-checkbox  #temp1 [checked]="item.status=='completed'" [color]="'primary'" class="example-margin" (change)="changeStatus(temp1.checked,item.id)">
          </mat-checkbox>
          <input matInput [ngStyle]="{'background-color': temp1.checked? '#8cedbb': ''}" value="{{item.title}}">
          <mat-icon  (click)="deleteTodo(item.id)">delete</mat-icon>     
          <mat-icon class="visible" (click)="openDialog('display',item.id)">visibility</mat-icon>
        </mat-card>
        </div>
    </mat-tab>
    <mat-tab label="Active">
      <div  *ngFor="let item of listTodos">
      <mat-card [ngStyle]="{'background-color': temp2.checked? '#8cedbb': ''}"  *ngIf="item.status=='active'">
        <mat-checkbox  #temp2  [color]="'primary'" class="example-margin" (change)="changeStatus(temp2.checked,item.id)">
        </mat-checkbox>
        <input matInput [ngStyle]="{'background-color': temp2.checked? '#8cedbb': ''}" value="{{item.title}}">
        <mat-icon  (click)="deleteTodo(item.id)">delete</mat-icon>
        <mat-icon class="visible" (click)="openDialog('display',item.id)">visibility</mat-icon>
      </mat-card>
      </div>
  </mat-tab>
  </mat-tab-group>
</div>
<footer>
  <button mat-raised-button mat-button (click)="openDialog('add')" color="primary">Add Todo</button>
</footer>